<ion-view view-title="Search Hospitals">

<ion-header-bar class="bar bar-subheader">

<div class="row">
     <!--  <ion-radio ng-model="hospital.choice" ng-value="Critical+Access+Hospital">Critical Access Hospital</ion-radio>
      <ion-radio ng-model="hospital.choice" ng-value="General+Hospital">General Hospital</ion-radio>
      <ion-radio ng-model="hospital.choice" ng-value="Pediatric+Hospital">Pediatric Hospital</ion-radio>
      <ion-radio ng-model="hospital.choice" ng-value="Psychiatric+Hospital">Psychiatric Hospital</ion-radio>
      <ion-radio ng-model="hospital.choice" ng-value="Long+Term+Acute+Care">Long Term Acute Care</ion-radio>
      <ion-radio ng-model="hospital.choice" ng-value="Rehabilitation+Hospital">Rehabilitation Hospital</ion-radio>
 -->

 <div class="col-50">
    <select ng-model="hospital.choice">
      <option style="display:none" value="">Select type</option>
      <option value="General+Hospital">General Hospital</option>
      <option value="Pediatric+Hospital">Pediatric Hospital</option>
      <option value="Psychiatric+Hospital">Psychiatric Hospital</option>
      <option value="Long+Term+Acute+Care">Long Term Acute Care</option>
      <option value="Rehabilitation+Hospital">Rehabilitation Hospital</option>
    </select>
</div>
   <div>
      <label class="item item-input item-stacked-label">
        <input type="text" placeholder="e.g. Chicago" ng-model="hospital.city" >
      </label>
    </div>
  
</div>

<div class="text-center">
      <button class="button button-balanced" ng-click="searchHospitals()" ng-disabled="!hospital.choice || !hospital.city">
        Search
      </button>
</div>
</ion-header-bar>


<ion-content class="has-header has-subheader">

     <ion-list>
      <ion-item ng-repeat="hospital in hospitals">
      {{hospital.hospital_name}}
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>