<ion-view cache-view="false">

 <ion-header-bar class="color-dark-blue">
    <button class="button button-icon icon ion-ios-medical" ui-sref="tab.main"></button>
    <div class="h1 title">Hospitals</div>
 </ion-header-bar>
  
<ion-header-bar class="bar bar-subheader">

<div class="row bar bar-header item-input-inset color-light-blue">
  <div class="col col-50">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="searchCity" placeholder="Search City">
    </label>
  </div>
  <!-- <button class="button button-clear">
    Cancel
  </button> -->
  <div>
  <select ng-model="searchType" class="col col-100">
     <option style="display:none" value="">Select type</option>
      <option value="General Hospital">General Hospital</option>
      <option value="Pediatric Hospital">Pediatric Hospital</option>
      <option value="Psychiatric Hospital">Psychiatric Hospital</option>
      <option value="Long Term Acute Care">Long Term Acute Care</option>
      <option value="Rehabilitation Hospital">Rehabilitation Hospital</option>
    </select>
  </div>
<a class="button" ui-sref="tab.mapsmarker">maps</a>
<a class="button" ui-sref="tab.hospitalMap">mapssss</a>
</div>

</ion-header-bar>

<ion-content class="has-header has-subheader">

      <ion-list>

        <ion-item class="item item-button-right" ng-repeat="hospital in hospitals | filter:searchCity | filter:searchType" ng-click="toggleDetails($index)">
          <p><b>{{hospital.hospital_name}}</b></p>
           <a class="button button-clear button-balanced" ng-click="$event.stopPropagation()" href="tel:{{hospital.phone}}">
            <i class="icon ion-android-call"></i>
           </a>

          <ion-item class="transition" ng-show="detailsVisible($index)">
            <p>{{hospital.type_of_hospital}}</p>
            <p>{{hospital.address}}</p>
            <p>{{hospital.city}}, {{hospital.county}}, {{hospital.zip}}</p>
            <a class="button" ui-sref="tab.maps({loc: hospital.address})">Navigate</a>
          </ion-item>

        </ion-item>

      </ion-list>

   </ion-content>
  
</ion-view>
