<ion-view>

 <ion-header-bar class="color-dark-blue">
    <button class="button button-icon icon ion-ios-medical" ui-sref="tab.main"></button>
    <div class="h1 title">Ambulatory Surgery Centers</div>
 </ion-header-bar>

<div class="bar bar-subheader">


<div class="row bar bar-header item-input-inset color-light-blue">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" ng-model="searchCity" placeholder="Search City">
  </label>

  <!-- <button class="button button-clear">
    Cancel
  </button> -->
  
</div>

</div>

<ion-content class="has-header has-subheader">

      <ion-list>

        <ion-item class="item item-button-right" ng-repeat="astc in astcs | filter:searchCity" ng-click="toggleDetails($index)">
          <p><b>{{astc.ambulatory_surgical_treatment_center}}</b></p>
           <a class="button button-clear button-balanced" ng-click="$event.stopPropagation()" href="tel:{{astc.phone}}">
            <i class="icon ion-android-call"></i>
           </a>

          <ion-item class="transition" ng-show="detailsVisible($index)">
            <p><b>{{astc.address}}</b></p>
            <p><b>{{astc.city}}, {{astc.county}}, {{astc.zip}}</b></p>
            <a class="button button-positive" ui-sref="tab.maps({loc: hospital.address})">Navigate</a>
          </ion-item>

        </ion-item>

      </ion-list>

   </ion-content>

</ion-view>