<ion-view view-title="Dashboard">
  <ion-content class="padding">

  <div class="row">
  	<div class="col">
    	<a class="button button-block button-light" ui-sref="tab.hospitalSearch">Hospitals</a>
    </div>

    <div class="col">
    	<a class="button button-block button-light" ui-sref="tab.surgeryCenters">Ambulatory Surgical Treatment Centers</a>
   	</div>
  </div>


  <div class="row">
  	<div class="col">
    	<a class="button button-block button-light" ui-sref="tab.hospiceCenters">Hospice Centers</a>
    </div>

    <div class="col">
    	<a class="button button-block button-light" ui-sref="tab.healthAgencies">Home Health Agencies</a>
    </div>
  </div>

  </ion-content>
</ion-view>