<ion-view>
  
  <ion-header-bar align-title="center" class="color-dark-blue">
    <button class="button button-icon icon ion-ios-medical"></button>
    <div class="h1 title">Illinois Health Care</div>
  </ion-header-bar>
  
  <ion-content class="padding" >
       <div class="row">
      	
        <div class="col" ui-sref="tab.hospitalSearch" >
        	<img class="button button-block button-light responsive-container" ng-src="img/hospital.png" style=" height:140px">
            <div class="text-center"><b> Hospitals </b></div> 
          </img>
        </div>

        <div class="col" ui-sref="tab.surgeryCenters">
        	<img class="button button-block button-light responsive-container" ng-src="img/ambulatory.png" style=" height:140px"> 
            <div class="text-center"><b>Ambulatory Surgical Treatment Centers</b></div>
          </img>
       	</div>

      </div>

      <div class="row">

      	<div class="col" ui-sref="tab.hospiceCenters">
        	<img class="button button-block button-light responsive-container" ng-src="img/hospice.png" style="height:140px">
            <div class="text-center"><b>Hospice Centers</b></div>
          </img>
        </div>

        <div class="col" ui-sref="tab.healthAgencies">
        	<img class="button button-block button-light responsive-container" ng-src="img/home_health_care.png" style=" height:140px">
            <div class="text-center"><b>Home Health Agencies</b></div>
          </img>
        </div>

      </div>


  </ion-content>
</ion-view>