/* Empty. Add your own CSS if you like */

.has-subheader {
  top: 180px; 
}

.responsive-container {
  position: relative;
  width: 100%
}

.list .item.transition {
  transition: 0.09s all linear;
}

.list .item.transition.ng-show {
   line-height: 10px;
}

.list .item.transition.ng-hide {
   line-height: 10px;
}
